<footer class="footer secondary-footer">
    <div class="container">
        <section class="page_section contact">
            <div class="contact_section">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="social_links secondary-footer-links">
                            <!-- Let's be friends. No, seriously... -->
                            <a target="_blank" href="{{site.linkedin}}"><i class="fa fa-linkedin-square fa-3x"></i></a>
                            <a target="_blank" href="{{site.codepen}}"><i class="fa fa-codepen fa-3x"></i></a>
                            <a target="_blank" href="{{site.github}}"><i class="fa fa-github fa-3x"></i></a>
                            <a target="_blank" href="{{site.dribbble}}"><i class="fa fa-dribbble fa-3x"></i></a>
                            <a target="_blank" href="{{site.instagram}}"{{site.facebook}}><i class="fa fa-instagram fa-3x"></i></a>
                            <a target="_blank" href="{{site.twitter}}"><i class="fa fa-twitter fa-3x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
