<header class="header-banner">
    <div class="banner-wrapper">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banner-text">
                <h2>Hey! I'm <strong>Astrid.</strong><br>I'm a developer <strong>and</strong> a designer.</h2>
                <h3>I'm (no longer) a final year student at The University of Queensland, with a knack for web design, software development, and messing around with electronics.</h3>
            </div>
        </div>
    </div>
</header>
