<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include navigation.html %}
    {% include secondaryheader.html %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {{ content }}
                    <div id="map"></div>
                </div>
                <br>
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include googlemaps.html %}
</body>
</html>
