<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include navigation.html %}
    {% include blogheader.html %}
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                        <div class="post-content" itemprop="articleBody">
                            {{ content }}
                        </div>
                    </article>
                    <div class="spacer"></div>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
